@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Indie+Flower&family=Original+Surfer&display=swap');

*{
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  /* font-family: 'Indie Flower', 'Dancing Script', cursive; */
  font-family: 'Original Surfer', cursive;
  cursor: pointer;
}
html{
  scroll-behavior: smooth;
}

.fin{
  display: none;
}
.delivr{
  display: none;
}
#toadd{
  display: none;
}

h2, h3, h4{
  padding: 5px;
  color: #000000;
}
/**************
****nav****
***************/
.navbar-brand{
  color: #000000;
  font-family: 'Indie Flower', cursive;
  font-size: 55px;
  transition: ease-in 0.5s;
}
.navbar-header a:hover {
  color: black;
  font-size: 60px;
  transition: ease-in-out 0.5s;
}
/**************
****header****
***************/
header{
  background-color: rgba(0, 0, 0, 0.397);
  background-image: url("../images/mainbg.jpg");
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  min-height: 80vh;
  color: #ffffff;
}

header>.container>.row>.left{
  padding: 10px;
}
header>.container>.row>.left h1{
  padding: 10px;
}
header>.container>.row>.left p{
  background-color: rgba(0, 0, 0, 0.644);
  transition: ease-in-out 0.3s;
  border-radius: 10px;
}
header>.container>.row>.left p:hover{
  background-color: #a52a2a;
  font-size: 30px;
  border-radius: 10px;
}
header>.container>.row>.right{
  background-color: beige;
  padding: 10px;
  border-radius: 10px;

}
.row>.left h1{
  font-size: 80px;
  padding: 11px;
}
p{
  font-size: 25px;
  padding: 11px;
}

#lft{
  border-right: 1px solid black;
}
#cntr{
  border-right: 1px solid black;

}
#rght{
  padding-left: 10px;
}
#glow {
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

/**************
****order pizza****
***************/

#pizza>.container{
  padding: 10px;
  margin: 20px auto;
}
#pizza>.container>.row{
  padding: 5px;
}
label{
  font-size: 20px;
}
#size label{
  padding: 5px;
}
#pizza>.container>.row>.right{
  background-color: rgba(0, 0, 0, 0.377);
  border-style: ridge;
  border-radius: 10px;
  padding: 10px;
}
input[type=button]:hover,
input[type=submit]:hover{
  background-color: #a52a2a;
}
#addtopp{
  background-color: #6C757D;
  font-size: 20px;
  height: 30px;
  width: 20px;
  color: #fff;
  border-radius: 5px;
}
#addtopp:hover{
  background-color: brown;
}
/**************
****footer****
***************/
footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: #ffffff;
  background-color: #3b3b3b;
}
footer h4{
  color: #ffffff;
}
footer>.social{
  background-color: transparent;
}
footer>.social ol{
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
footer>.social ol li {
  padding: 5px;
  font-size: 15px;
  text-decoration: none;
  color: #ffffff;
}

footer>.social ol li >.fa {
  padding: 5px;
  font-size: 25px;
  text-decoration: none;
  color: #ffffff;
}
footer>.social ol li>.fa:hover{
  font-size: 35px;
  color: #ffffff;
  transition: ease-in 0.1s;
}

footer>.footer_info p{
  font-size: 15px;
}